<div class='left'>
  <%= form_for(@message, :class => "message_form") do |f| %>
    <%=f.email_field :receiver_email, :placeholder=>"Receivers Email", :class => "input"%><br>

    <%=f.text_field :to, :placeholder=>"Receivers Name", :class => "input"%><br>

    <%=f.text_field :title, :placeholder=>"Title your message", :class => "input"%><br>

    <%=f.text_area :body, :placeholder=>"Write your Message here", :class => "input-2"%><br>

    <%=f.text_field :from, :placeholder=>"Your Name", :class => "input"%><br>

    <%=f.email_field :sender_email, :placeholder=>"Return Email", :class => "input"%><br>

    <%= f.button "Send", :class => "button", :type => "button"  %>
  <% end %>
</div>
<div class='right'>
  <p>Never done this <a data-opens='001'>before?</a>
    <span data-openedby='001'> That's cool. Check this <a data-opens='002'>out.</a></span>
    <p><span data-openedby='002'> With Invisible <a data-opens='003'>Ink,</a></span>
    <span data-openedby='003'> send a message to anyone you <a data-opens='004'>know.</a></span>
    <span data-openedby='004'> Your message will <a data-opens='005'>open </a></span>
    <span data-openedby='005'><a data-opens='006'>at </a></span>
    <span data-openedby='006'><a data-opens='007'>your</a></span>
    <span data-openedby='007'> own <a data-opens='008'>pace. </a></span>
    <span data-openedby='008'> Once they close the <a data-opens='009'>window,</a></span>
    <span data-openedby='009'> the message disappears <a data-opens='010'>forever!</a></span></p><br>
    <p><span data-openedby='010'> To <a data-opens='011'>begin,</a></span>
    <span data-openedby='011'> type (or copy and paste) <a data-opens='012'> your message</a></span>
    <span data-openedby='012'> in the box to <a data-opens='013'>the left.</a></span>
    <span data-openedby='013'> Each new line you <a data-opens='014'>enter</a></span>
    <span data-openedby='014'> will be the next part of the <a data-opens='015'>message</a></span>
    <span data-openedby='015'> to appear, once the recipient <a data-opens='016'>clicks</a></span>
    <span data-openedby='016'> on the <a data-opens='017'>underlined word(s).</a></span>
    <span data-openedby='017'> You decide which <a data-opens='018'>word(s)</a></span>
    <span data-openedby='018'> get underlined by enclosing <a data-opens='019'>them</a></span>
    <span data-openedby='019'> in the pipe <a data-opens='020'>(|) character,</a></span>
    <span data-openedby='020'> <a data-opens='021'>|like this|.</a></span></p>
    <br><br>

  <span data-openedby='021'><img src="http://livetyping.com/1568186.gif"><br><br> <a data-opens='200'>Hi</a>
  <span data-openedby='200'>This is the text opened by "Hi." <a data-opens='201'>and </a></span>
  <span data-openedby='201'>This is the text opened by "and".</span>    
  <br><br>
  <a data-opens='022'>Remember...</a>
  </span>
  <br><br>
 
  <span data-openedby='022'>Only put one "set" of pipes in a<a data-opens='023'> sentence.</a></span>
  <span data-openedby='023'> Putting more can cause <a data-opens='024'>problems.</a></span>
  <span data-openedby='024'><img src="http://livetyping.com/1568169.gif"><img src="http://livetyping.com/1568178.gif"><br><a data-opens='025'>Also...</a></span>
  <span data-openedby='025'>It is ok to surround a <a data-opens='026'>word or two</a> in the middle of a sentence.</span>
  <span data-openedby='026'><img src="http://livetyping.com/1568181.gif"></span>
</div>

