<div><%= form_for(@message) do |f| %>

    <%= f.label "Their Email"  %>
    <%= f.email_field :receiver_email %><br>

    <%= f.label "Their Name"  %>
    <%= f.text_field :to %><br>

    <%= f.label "Heading"  %>
    <%= f.text_field :title %><br>

    <%= f.label "Fleet"  %>
    <%= f.text_area :body %><br>

    <%= f.label "Your Name"  %>
    <%= f.text_field :from %><br>

    <%= f.label "Your Email"  %>
    <%= f.email_field :sender_email %><br>

    <%= f.submit "Send"  %>
    
<% end %>
</div>
<div style="display; inline">Type out your message, line by line, seperated into the staggered elements you wish to send, and underline the word you wish to open the next part of the message.</div><div>
example</div>
<p><u>Hi</u></p>
<p>This is the text opened by "Hi" <u>and</u>.</p>
<p>this will be opened by "and".</p>