<div><%= form_for(@message) do |f| %>


    <%=f.email_field :receiver_email, :placeholder=>"Receivers Email"%><br>

    <%=f.text_field :to, :placeholder=>"Receivers Name"%><br>

    <%=f.text_field :title, :placeholder=>"Title your message"%><br>

    <%=f.text_area :body, :placeholder=>"Write your Message here", :id => "input"%><br>

    <%=f.text_field :from, :placeholder=>"Your Name"%><br>

    <%=f.email_field :sender_email, :placeholder=>"Return Email"%><br>

    <%= f.submit "Send"  %>
    
<% end %>
</div>

<textarea id="input"></textarea>
<div id="output"></div>
<div id="pipeCount"></div>
<div id="parsedOutput"></div>

<div style="display; inline">Type out your message, line by line, seperated into the staggered elements you wish to send. I.e. line 1 opens line two, line two opens line three. Surround the word(s) you want to be underlined(clickable) with the pipe character | and this will open the next line of the message.</div><div>
example</div>
<p>|Hi|</p>
<p>This is the text opened by "Hi" |and|.</p>
<p>this will be opened by "and".</p>